<div class="row">
    <button type="button" class="btn btn-primary form-control offset-md-10 col-md-2 form-control" 
    (click)="nuevoPrecio(template)" >
        Añadir precio
    </button>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Costo</th>
        <th scope="col">Duración</th>
        <th scope="col">Tipo de duración</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let precio of precioService.precios" >
        <th>{{precio.nombre}}</th>
        <td>{{precio.costo}}</td>
        <td>{{precio.duracion}}</td>
        <td>{{tipos_duracion[precio.tipo_duracion].nombre}}</td>
        <td>
            <button type="button" class="btn btn-primary" (click)="verPrecio(precio.id, template)" >Ver</button>
        </td>
      </tr>
    </tbody>
  </table>


<ng-template #template >
    <div class="modal-header">
        <h4>Nuevo precio</h4>
        <button type="button" class="close pull-right" aria-label="close" (click)="cerrarModal()" >
            <span aria-hidden="true" >&times;</span>
        </button>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-12">
                <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="precio.nombre" >
            </div>
            <div class="col-12"> 
                <input type="number" class="form-control" placeholder="Costo" [(ngModel)]="precio.costo" >
            </div>
            <div class="col-12">
                <input type="number" class="form-control" placeholder="Duración" [(ngModel)]="precio.duracion" >
            </div>
            <div class="col-12">
                <select [(ngModel)]="precio.tipo_duracion" class="form-control">
                    <option *ngFor="let duracion of tipos_duracion" [value]="duracion.id" >{{duracion.nombre}}</option>
                </select>
            </div>
            <div class="col-12">
                <button type="button" class="btn btn-primary form-control" [disabled]="muestra_cargando" 
                (click)="id!==null?actualizarPrecio() : guardarPrecio()">
                    {{titulo_boton}}
                </button>
            </div>
            
        </div>
    </div>

</ng-template>