<div class="row">
  <button type="button" class="btn btn-primary form-control offset-md-10 col-md-2 form-control"
    (click)="nuevoPrecio(template)">
    Añadir precio
  </button>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Costo</th>
      <th scope="col">Duración</th>
      <th scope="col">Tipo de duración</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let precio of precioService.precios">
      <th>{{precio.nombre}}</th>
      <td>{{precio.costo}}</td>
      <td>{{precio.duracion}}</td>
      <td>{{tipos_duracion[precio.tipo_duracion].nombre}}</td>
      <td>
        <button type="button" class="btn btn-primary" (click)="verPrecio(precio.id, template)">Ver</button>
        <button type="button" class="btn btn-danger" (click)="eliminarPrecio(precio.id)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>


<ng-template #template>

  <div *ngIf="!cargando_informacion" >

    <div class="modal-header">
      <h4>Nuevo precio</h4>
      <button type="button" class="close pull-right" aria-label="close" (click)="cerrarModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="">Nombre</label>
            <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="precio.nombre">
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="">Costo</label>
            <input type="number" class="form-control" placeholder="Costo" [(ngModel)]="precio.costo">
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="">Duración</label>
            <input type="number" class="form-control" placeholder="Duración" [(ngModel)]="precio.duracion">
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="">Periodo</label>
            <select [(ngModel)]="precio.tipo_duracion" class="form-control">
              <option *ngFor="let duracion of tipos_duracion" [value]="duracion.id">{{duracion.nombre}}</option>
            </select>
          </div>
        </div>
        <div class="col-12">
          <button type="button" class="btn btn-primary form-control" [disabled]="muestra_cargando"
            (click)="id!==null?actualizarPrecio() : guardarPrecio()">
            {{texto_boton}}
          </button>
        </div>

      </div>
    </div>
  </div>

  <app-skeleton *ngIf="cargando_informacion"></app-skeleton>

</ng-template>
