<br>

<div class="form-group" *ngIf="!cargado_informacion; else showCargando">
    <div class="row">
        <div class="col-6">
            <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="cliente.nombre" >
        </div>
        <div class="col-6">
            <input type="text" class="form-control" placeholder="Apellidos" [(ngModel)]="cliente.apellidos" >
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <input type="number" class="form-control" placeholder="Telefono" [(ngModel)]="cliente.telefono"  >
        </div>
        <div class="col-6">
            <input type="email" class="form-control" placeholder="Email" [(ngModel)]="cliente.email" >
        </div>
    </div>

    <div class="row">
        <div class="col-8 offset-2">
            <label for="imagen">Imagen</label>
            <input type="file" name="imagen" id="imagen" (change)="seleccionarArchivo($event)" class="form-control">
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-8 offset-2">
            <button class="form-control btn btn-primary" [disabled]="muestra_cargando"
            (click)="es_nuevo ? guardarCliente() : actualizarCliente()">{{titulo_boton}}</button>
        </div>
    </div>


</div>

<ng-template #showCargando>
    <app-cargando [clase]="'text-center'"></app-cargando>
</ng-template>