<div class="row">
  <div class="col-6 offset-3"style="padding-top:30px">
    <form class="form-group" [formGroup]="formulario">

      <div class="text-center">
        <img src="assets/img/trainer.jpg" alt="">
      </div>

      <input type="email" class="form-control" placeholder="Email" formControlName="email" >
      <div *ngIf="formulario.controls['email'].invalid && formulario.controls['email'].dirty">
        <div class="alert alert-danger" role="alert" *ngIf="formulario.controls['email'].errors.required">
          El email es requerido
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="formulario.controls['email'].errors.email">
          El email debe ser un formato valido
        </div>
      </div>
      <input type="password" class="form-control" placeholder="Contraseña" formControlName="password" >
      <div *ngIf="formulario.controls['password'].invalid && formulario.controls['password'].dirty">
        <div class="alert alert-danger" role="alert" *ngIf="formulario.controls['password'].errors.required">
          La contraseña es requerida
        </div>
      </div>
      <div *ngIf="error">{{mensaje}}</div>
      <button type="submit" class="btn btn-primary form-control" (click)="login()" [disabled]="!formulario.valid" >{{mensajeBoton}}</button>
    </form>
  </div>
</div>
