<div class="row">
  <form class="form-group col-12">
    <input type="search" placeholder="Buscar cliente" class="form-control">
  </form>
</div>

<div class="row" *ngIf="!clienteService.cargando; else cargando">
  <div class="sm-4" *ngFor="let cliente of clienteService.clientes">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" [src]="cliente.url_imagen" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{cliente.nombre}} {{cliente.apellidos}}</h5>
        <p class="card-text">{{cliente.telefono}}</p>
        <a href="#" class="btn btn-primary">Editar</a>
        <a href="#" class="btn btn-danger">Eliminar</a>
      </div>
    </div>
  </div>
</div>


<ng-template #cargando>Cargando...</ng-template>
