<div class="row">
    <div class="col-8">

        <select class="form-control" [(ngModel)]="clienteSeleccionado" [disabled]="clienteService.cargando" >
            <option [value]="null">Selecciona un cliente</option>
            <option *ngFor="let cliente of clienteService.clientes" [value]="cliente.id" >{{cliente.nombre}}</option>
        </select>

        <img style="width:50%;height:50%;" class="img-thumbnail img-responsive"
        [src]="buscarImagen()" *ngIf="clienteSeleccionado!==null && clienteSeleccionado!=='null'" alt="Card image cap" />
    </div>
    <div class="col-4">
        <input type="search" placeholder="Buscar" [(ngModel)]="busqueda" class="form-control">
    </div>
</div>